#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

# The index is a redirect to the Kosmos page.
compile '/index.md' do
  filter :kramdown
  layout '/index.*'
end

# Compile markdown files.
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    # vb: kosmos.md -> /kosmos/index.html
    # (Browser toont dit mooi als https://theatervolta.be/kosmos/ )
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
