#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

# Compile markdown files.
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
  filter :relativize_paths, type: :html
end

# Compile sass
compile '/**/*.scss' do
  filter :sass, syntax: :scss
  write "#{item.identifier.without_ext}.css"
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    # vb: kosmos.md -> /kosmos/index.html
    # (Browser toont dit mooi als https://theatervolta.be/kosmos/ )
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
