#!/usr/bin/env ruby

require 'bootstrap'


compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.slim' do
  filter :slim
  layout '/default.*'
  filter :relativize_paths, type: :html
end

# Compile markdown files.
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
  filter :relativize_paths, type: :html
end

# js
passthrough '/assets/js/*.{js}'

# Compile sass
compile '/assets/style/{freelancer,momentum}.scss' do
  filter :sass, syntax: :scss
  write "#{item.identifier.without_ext}.css"
end

ignore '/assets/style/*'

route '/**/*.{html,html.erb,md,slim}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    # vb: kosmos.md -> /kosmos/index.html
    # (Browser toont dit mooi als https://theatervolta.be/kosmos/ )
    item.identifier.without_ext + '/index.html'
  end
end

# Images can be copied as-is
passthrough '/assets/img/*.{png,jpg,svg}'
passthrough '/assets/fonts/*.{ttf,woff,woff2}'
passthrough '/favicon.ico'

# Layouts
layout '/**/*.slim', :slim
layout '/**/*.erb', :erb
