---
title: DOLOS
og:
  title: "Theeater Volta stelt voor: DOLOS"
  description: "Theatervoorstelling op 29 maart in Diksmuide en 5 april in Lendelede"
  image: "/images/flush.png"
---
<div class="flex flex-wrap items-stretch w-100 min-vh-100 pa4">
  <div class="w-two-thirds-l w-50">
    <h1 class="f-headline lh-solid white-90">DOLOS</h1>
    <h3 class="f2 lh-copy white-70 measure">Deel II van de <em>kosmostrilogie</em>.</h3>


    <div class="white-70 f4">

      <p>29 maart in <em>CC Kruispunt</em>, Diksmuide.
      <p>5 april in <em>GC Den Tap</em>, Lendelede.
      <p>Telkens om 15:00 en 19:00.

      <a class="white-90 no-underline" href="https://ticket3.cloud/makersvantheater/dolos">
        <p class="tc outline pa2"><span class="b">Reserveer hier je gratis plek</b></p>
      </a>
      <p>Samen met de opleiding <em>Theatermakers</em> in Diksmuide en Lenedelede.

      <p>Spel: Hemelsoen Bert, Maertens Rien, Maertens Fauve, Parmentier Charlotte, Jonckheere Camille, Dewaele Jolien, Vanwijnsberghe Noor, De Meulemeester Frienne, Xu Effi
      <p>Regie: Filip Debosschere
      <p>Met dank aan Kadens, Stad Diksmuide, Art'Iz en Gemeente Lendelede.
    </div>
  </div>
  <div class="w-third-l w-50 pa5">
    <div class="pa3 bg-white">
    <%= render "/partials/picture.erb",
    image: '/images/dolos.png',
    factor: 2,
    alt: "Foto van een eenzame automaat in het midden van de straat, 's nachts. Boven de automaat staat een logo met twee maantjes, en daaronder de titel DOLOS." %>
    </div>
  </div>
</div>

