---
title: Flush
og:
  title: "Theater Volta stelt voor: Flush"
  description: "Theatervoorstelling op 4 november om 19u30 in GC Den Tap, Lendelede"
  image: "/images/flush.png"
---
<div class="flex flex-wrap items-stretch w-100 min-vh-100 ma4">
  <div class="w-two-thirds-l w-50">
    <h1 class="f-headline lh-solid white-90">Flush</h1>
    <h3 class="f2 lh-copy white-70 measure">Een voorstelling over de mens in een eenzame wereld, een zoektocht naar warmte en het verlangen om te delen in het hier en nu.</h3>
    <div class="white-70 f4">
      <p>Spel: Lisa Vandepitte, Bert Hemelsoen, Jana Hoedt en Rien Maertens
      <p>Regie: Charlotte Parmentier
      <p>Waar &amp; Wanneer: GC Den Tap Lendelde, zaterdag 4 november om 19u30
      <p class="white-90">Gratis! Reservaties starten binnenkort.</p>
      <p>Met dank aan ART'IZ en GC Den Tap
    </div>
  </div>
  <div class="w-third-l w-50 pa5">
    <div class="pa3 bg-white">
    <%= render "/partials/picture.erb",
    image: '/images/flush.png',
    factor: 2,
    alt: "Kleurrijke vlakken in de vorm van een toiletpot." %>
    </div>
  </div>
</div>

