---
title: Tarte Noir
og:
  title: "Theater Volta  stelt voor: Tarte Noir"
  description: "Theatervoorstelling op 22 november om 19u30 in VBS Diksmuide"
  image: "/images/flush.png"
---
<div class="flex flex-wrap items-stretch w-100 min-vh-100 ma4">
  <div class="w-two-thirds-l w-50">
    <h1 class="f-headline lh-solid white-90">Tarte Noir</h1>
    <h3 class="f2 lh-copy white-70 measure">Een theatervoorstelling in de stijl van <em>film noir</em>, gevolgd door een klassieke <em>film noir</em>.</h3>


    <div class="white-70 f4">

      <p>19u30 Tarte Noir, een <em>noir</em> theatersvoorstelling
      <p>20u00 Film noir

      <a class="white-90 no-underline" href="https://ticket3.cloud/voltaprojects/tarte-noir">
        <p class="tc outline pa2"><span class="b">Reserveer hier je gratis plek</b></p>
      </a>

      <p class="white-90">Waar &amp; Wanneer: VBS Diksmuide (ingang via Witte Poort), zaterdag 22 november om 19u30
      <p>Spel: Bert Hemelsoen, Camille Jonckheere, Fauve Maertens en Charlotte Parmentier
      <p>Regie: Rien Maertens
      <p>Met dank aan Kadens en Vrije Basisschool Sint-Niklaas
    </div>
  </div>
  <div class="w-third-l w-50 pa5">
    <div class="pa3 bg-white">
    <%= render "/partials/picture.erb",
    image: '/images/tarte-noir.png',
    factor: 2,
    alt: "Film noir poster. Een femme fatale die een chocoladetaart eet, met twee detectives in de achtergrond." %>
    </div>
  </div>
</div>

