#main {
    padding-top: 50px;
}

.home-menu {
    padding: 1em;
    text-align: center;
    background-color: #fff;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #2c3e50;
}
