---
title: Wie is Volta?
og:
  title: "Wie is Volta?"
  image: "/logo.svg"
  content: "Wie is Volta Projects?"
---

<div class="flex flex-wrap items-stretch pt4 w-100 min-vh-100">

  <div class="w-100 flex-grow">
    <div class="flex justify-center items-center ma2">
      <div class="white-70 f4 pa2 measure">
        <p><span class="white-90">Volta Projects VZW</span> is ontsproten uit afstuderende leerlingen van kunstacademies Kadens (Diksmuide) en Art'Iz (Izegem &amp; Lendelede). Vol enthousiasme om verder te gaan waar hun opleiding stoptte, maken zij samen een theaterstuk <span class="white-90">Kosmos</span>.
        <p>Gedreven door een goesting om te blijven theater te bedrijven, richten zij een vzw op om hun creatieve uitspattingen te ondersteunen. Als eerste wapenfeit creëert Volta een locatietheater <span class="white-90">Momentum</span> in opdracht van gemeente Middelkerke.
        <p>Naast culturele creaties, faciliteert Volta Projects ook het jaarlijkse theaterweekend die leerlingen en leerkrachten uit verscheidende kunstacademies met elkaar verbind.
        <p>Volta staat steeds paraat om nieuwe uitdagingen aan te gaan. Zin om samen iets te doen? Stuur ons een mailtje naar
        <p><span class="white-90">info (apentstaartje) voltaprojects (punt) be</span>.
      </div>
    </div>
  </div>

  <div>
    <%= render "/partials/picture.erb",
    image: '/images/kosmos-volta.jpg',
    factor: 1,
    alt: "Groepsfoto met 8 leden van theatergroep Volta Projects." %>
  </div>
</div>

